<div style="margin: 1rem 0px; display: flex; justify-content: flex-end;">
  <button mat-fab color="accent" aria-label="Back Home" (click)="backToHome()">
    <mat-icon>home</mat-icon>
  </button>
</div>


<div *ngIf="detail" class="main-content" style="--imageUrl:url({{imageBaseUrl}}/original/{{detail?.backdrop_path}})">
  <div class="card-content">
    <div style="display: flex; justify-content: center; margin-bottom: 0.5rem; width: 100%; text-align: center;">
      <span style="font-size: x-large; font-weight: bolder;">{{detail.title}}</span>
    </div>
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div style="height: 23vw; padding: 1rem; display: flex; justify-content: center; align-items: center;">
        <img style="height: 100%; border-radius: 1rem;" src="{{imageBaseUrl}}/w342{{detail.poster_path}}"
          alt="poster_img">
      </div>
      <div style="height: 23vw; width: 63vw; padding: 1rem;">
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Description
          </div>
          <div style=" width: 51rem;">
            {{detail.overview}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Popularity
          </div>
          <div style=" width: 51rem;">
            {{detail.popularity}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Release date
          </div>
          <div style=" width: 51rem;">
            {{detail.release_date}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Genre
          </div>
          <div style=" width: 51rem;">
            <ng-container *ngFor="let data of detail.genres">
              <div class="genre-style">{{data.name}}</div>
            </ng-container>
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Production Company
          </div>
          <div style=" width: 51rem;">
            <ng-container *ngFor="let data of detail.production_companies">
              <div class="genre-style">{{data.name}}</div>
            </ng-container>
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Run Time
          </div>
          <div style=" width: 51rem;">
            {{detail.runtime | convertHourMinute}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Revenue
          </div>
          <div style=" width: 51rem;">
            {{detail.revenue | currency:'USD':'symbol':'1.0-0'}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Vote Average
          </div>
          <div style=" width: 51rem;">
            {{detail.vote_average}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Vote Count
          </div>
          <div style=" width: 51rem;">
            {{detail.vote_count}}
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; padding: 0.5rem 0rem">
          <div style="width: 9rem;">
            Spoken Language
          </div>
          <div style=" width: 51rem;">
            <ng-container *ngFor="let data of detail.spoken_languages">
              <div class="genre-style">{{data.english_name}}</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>