.main-content {
    background-image: var(--imageUrl);
    background-color: white;
    height: 65vh;
    border-radius: 1rem;
    padding: 2rem;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-content {
    background-color: rgba(255, 255, 255, 0.811);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 60vh;
    overflow: auto;
}

::ng-deep.mat-grid-tile-content {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.genre-style {
    display: inline-block;
    text-align: center;
    background-color: #434343;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-left: 5px;
    margin-bottom: 5px;
    color: pink;
}