<div class="filter-container">
  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div style="margin-right: 1rem;">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="handleSortBy($event); maincontainer.scrollTop = 0">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let option of sortOptions" [value]="option.sortBy">{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="date-filter-container">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Filter by date</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
      </div>
      <button class="button-filter-style" mat-raised-button
        (click)="handleFilterDate(); maincontainer.scrollTop = 0">Filter Date</button>
    </div>
  </div>
  <div style="margin-bottom: 0.2rem;">
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event); maincontainer.scrollTop = 0"
      [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [showFirstLastButtons]="showFirstLastButtons"
      [hidePageSize]="hidePageSize" aria-label="Select page">
    </mat-paginator>
  </div>
</div>

<div class="main-content" #maincontainer>
  <div *ngIf="detail" style="display: flex; justify-content: center; align-items: center; flex-wrap:wrap">
    <ng-container *ngFor="let data of detail.results">
      <mat-card class="card-size" style="cursor: pointer" (click)="onDetail(data)">
        <mat-card-header>
          <div style="height: 2.5rem;">
            <mat-card-title
              style="font-size: small; font-weight: bold; padding: 0px; margin: 0px; line-height: 1.2rem;">{{data.title}}</mat-card-title>
          </div>
        </mat-card-header>
        <img style="padding: 0.5rem; height: 16rem;" mat-card-image src="{{imageBaseUrl}}/w185{{data.poster_path}}"
          alt="poster_img">
        <mat-card-content>
          <p style="overflow: auto; height: 4rem; font-size: smaller;">
            {{data.overview}}
          </p>
        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: space-between; align-items: center;">
          <span style="color:brown; font-weight: bold;">Popularity </span>
          <span style="color:brown; font-weight: bold;">{{data.popularity}}</span>
        </mat-card-actions>
        <mat-card-footer style="display: flex; flex-wrap: wrap;">
          <ng-container *ngFor="let id of data.genre_ids">
            <div class="genre-style">{{id | getGenreName: genres }}</div>
          </ng-container>
        </mat-card-footer>
      </mat-card>
    </ng-container>
  </div>
</div>