.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 0rem 0rem;
}

.main-content {
    background-color: white;
    height: 65vh;
    border-radius: 1rem;
    padding: 2rem;
    overflow: auto;
}

.date-filter-container {
    display: flex;
    align-items: center;
}

.button-filter-style {
    margin-left: 1rem;
    margin-top: -1.5rem;
}

::ng-deep.mdc-text-field {
    border-radius: 20px !important;
}
