.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 0rem 0rem;
    flex-wrap: wrap;
}

.main-content {
    background-color: white;
    height: 65vh;
    border-radius: 1rem;
    padding: 2rem;
    overflow: auto;
}

.date-filter-container {
    display: flex;
    align-items: center;
}

.button-filter-style {
    margin-left: 1rem;
    margin-top: -1.5rem;
}

.card-size {
    max-width: 15rem;
    height: 29rem;
    margin: 1rem;
}

::ng-deep.mdc-text-field {
    border-radius: 20px !important;
}

mat-card {
    background: rgb(185, 175, 175);
    border-radius: 0.5rem;
}

mat-card-actions {
    min-height: 1rem !important;
}

.genre-style {
    display: inline-block;
    text-align: center;
    background-color: #434343;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-left: 5px;
    margin-bottom: 5px;
    color: pink;
}